*{
    margin: 0;
    padding: 0;
}
body{
    background-color: ghostwhite;
    overflow-x: hidden;
}
.page-container{
width: 1300px;
height: 1500px;
margin: auto;
position: relative;
position: relative;
display: flex;
flex-direction: column-reverse;
}
header{
    position: absolute;
    top: 1px;
    right: 0;
    width: 100%;
    height: 200px;
    background-color: grey;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
header h1{
    font-size: 60px;
    font-weight: bolder;
    color: black;
    margin: 30px 30px;
}
nav{
    background-color: #1a0c0c;
    width: 100%;
    height: 50px;
    margin-top: -15px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center; 
    justify-content: space-around;
}
nav a{
    margin: 0 20px;
    color: white;  
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
nav a:hover{
    color: #0961e6;
}
.active{
    color: #0961e6;
}
.side{
    width: 20%;
    height: 1300px;
    background-color: rgb(226, 224, 224);
    display: flex;
    flex-direction: column;
    text-align: right   ;
    flex-wrap: wrap;
}
.main{
    width: 80%;
    height: 1300px;
    background-color:white;
    display: flex;
    flex-direction: column;
    text-align: right;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
}
.card{
    border: 1px solid black;
    border-radius: 2px;
    background-color: rgb(226, 224, 224);
    width: 400px;
    height: 380px;
    color: #1a0c0c;
    margin: 30px 30px;
    margin-left: 70px;
}
.img-container{
    width: 100%;
    height: 50%;
}
.img-container img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.info{
    width: 100%;
    height: 50%;
}
.info h4{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 10px;
}
table{
    position: absolute;
    right: 250px;
    bottom: 20px;
    width: 500px;
    text-align: center;
}
table ,th , td{
    border: 1px solid black;
    background-color: rgb(226, 224, 224);
    color: #1a0c0c;
    font-size: 30px;
}
table tr td img{
    width: 120px;
    height: 100px;
}

footer{
    width: 100%;
    height: 70px;
    background-color: #4d1b1b;
    position: absolute;
    bottom: 0;
    margin-bottom: -70px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;   
}
footer h2{
    font-size: 40px;
    color: #fffefe;
    font-weight: bolder;
    margin: 0 30px ;
}
